<div class="main">
  @if (isBrowser) {
    <app-schema
      [title]="damageOptions.title"
      [id]="id ?? null"
      [schemeData]="data"
      [isLoading]="showLoader"
      [isError]="isError!"
      [labelData]="damageOptions.labelData"
      [accentByKey]="damageOptions.accentByKey"
      [accentFill]="damageOptions.accentFill"
      [showColorTrue]="damageOptions.showColorTrue"
      [showColorFalse]="damageOptions.showColorFalse"
      [showColorNull]="damageOptions.showColorNull"
      [descriptionShowColorTrue]="damageOptions.descriptionShowColorTrue"
      [descriptionShowColorFalse]="damageOptions.descriptionShowColorFalse"
      [descriptionShowColorNull]="damageOptions.descriptionShowColorNull"
    >
    </app-schema>
  } @else {
    <p>Cargando visualizador...</p>
  }
</div>
